#wrapper {
	height: auto;
	width: 800px;
}

#content {
	font-family: Verdana, sans-serif;
	float: right;
	width: 630px;
	font-size: 10pt;
	margin-left: 170px;
	height: auto;
	text-decoration: none;
}

#content a img {
	border: none;
}

#content a {
	text-decoration: none;
	color: #A8A8A8;
}

#content a:hover {
	color: #FFFFFF;
	background-color: #A8A8A8;
}

#header {
	width: 200px;
	height: 40px;
	margin-bottom: 40px;
	position: absolute;
	clear: both;
}

#navigation {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
	width: 150px;
	float: left;
	position: fixed;
}

#navigation h1{
	font-family: monospace, Verdana, sans-serif;
	font-size: 30px;
}

#navigation li {
	font-family: Verdana, sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	
#navigation li a {
	display: block;
	background-color: #C0C0C0;
	border-left: 15px solid #000000;
	padding: 7px 10px;
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
}

#navigation li a:hover {
	background-color: #FFFFFF;
	border-color: #C0C0C0;
}

#navigation li a:active {
	padding-top: 9px;
	padding-bottom: 5px;
}

#navigation li a.current {
	background-color: #FFFFFF;
	border-color: #C0C0C0;
}
